@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 2;
    margin-left: 10%;
    margin-right: 10%;
}

.infobox {
    position: relative;
    display: table-cell;
    font-family: var(--font-roboto);
    color: var(--color-text);
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2rem;
}

.infobox::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 50%;
    top: 80%;
    box-shadow: 0px 13px 10px black;
    rotate: 5deg;
}